.edit-button {
    color: #f8f8f8;
    background-color: #ffc107;
}

.check-button {
    color: #f8f8f8;
    background-color: #28a745;
}

.edit-button i,
.check-button i {
    font-size: 1.2rem;
    display: flex;
}

.edit-button:hover,
.edit-button:focus,
.check-button:hover,
.check-button:focus {
    filter: brightness(90%);
}